* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --no-of-sections-per-screen:6;
    --total-no-sections: 18;
    --imageAsectRatio:16/9;
}

.container {
    width:100%;
    margin: 200px auto;
    height: fit-content;
}
.carousel {
    display: flex;
    justify-content: start;
    width: 100%;
    height: fit-content;
    border-radius: 3px;
    position: relative;
    background-color:aliceblue;
    overflow: hidden;
}
.slider {
    display: flex;
    height:fit-content;
    width: calc(100% * var(--total-no-sections) *100%);
    transition:  all .5s;
    padding: 0;
    margin: 0;
    gap:.2rem;

}
.slider section {
    flex-basis: calc(100vw/var(--no-of-sections-per-screen));
    flex-shrink: 0;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider section img {
    width: calc(100vw/var(--no-of-sections-per-screen));
    aspect-ratio: var(--imageAsectRatio);
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid black;
}

.arrow {
    position: absolute;
    height: 100%;
    padding:.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2;
}
.arrow.prev {
    left:0;
    cursor: pointer;
}

.arrow.next {
    right: 0px;
    cursor: pointer;
}


@media (max-width: 480px) {
    :root {
        --no-of-sections-per-screen: 2; /* Mobile */
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    :root {
        --no-of-sections-per-screen: 3; /* Tablet */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    :root {
        --no-of-sections-per-screen: 4; /* Normal size screens */
    }
}

@media (min-width: 1025px) and (max-width: 1920px) {
    :root {
        --no-of-sections-per-screen: 5; /* Medium screens */
    }
}

@media (min-width: 1921px) {
    :root {
        --no-of-sections-per-screen: 6; /* 4K screens */
    }
}